:root {
  --clr-hero-bg: #1f2937;
  --clr-hero-text-1: #f9faf8;
  --clr-hero-text-2: #e5e7eb;
  --clr-btn-sign-up: #3882f6;
  --clr-info-text-title: #1f2937;
}

html {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.125em;
}

header {
  background-color: var(--clr-hero-bg);
  padding: 0 30% 0 20%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.nav-links {
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.hero-text {
  padding: 20px 0;
  width: 50%;
}

.hero-text-main {
  color: var(--clr-hero-text-1);
  font-size: 1.125em;
  padding-bottom: 1em;
}

.hero-text-secondary {
  color: var(--clr-hero-text-2);
  margin-bottom: 0.5em;
}

.sign-up {
  padding: 0.5em 1.5em;
  color: var(--clr-hero-text-1);
  background-color: var(--clr-btn-sign-up);
  border: none;
  border-radius: 0.5em;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign-up:hover {
  background-color: #2872e6;
}

#city-title {
  text-align: center;
  padding: 1em;
  font-size: 2.25em;
  font-weight: bold;
  color: var(--clr-info-text-title);
}

.info {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}

.city img {
  width: 18.75em;
  height: 12.5em;
  object-fit: cover;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
}

.testimonial {
  max-width: 50em;
  color: #1f2937;
  font-size: 2em;
  padding: 2em;
}

.testimonial p {
  font-weight: lighter;
  font-style: italic;
}

.testimonial figcaption {
  font-weight: bold;
  text-align: right;
}

.cta-container {
  display: flex;
  justify-content: center;
  padding: 8em;
}

.cta {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  background-color: #3882f6;
  padding: 4em;
  border-radius: 0.5em;
  color: var(--clr-hero-text-1);
}

.cta-btn {
  border: 1px solid var(--clr-hero-text-1);
  background-color: #3882f6;
  border-radius: 0.5em;
  color: var(--clr-hero-text-1);
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
}

footer {
  background-color: var(--clr-hero-bg);
  color: var(--clr-hero-text-1);
  padding: 2em;
  text-align: center;
}